button {
  font-size: 18px;
  background-color: rgb(125, 125, 233);
}
.grid {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  aspect-ratio: 1 / 1;
  background-color: #d36969;
  opacity: 0.1;
  margin: 2px;
  box-sizing: border-box;
}